<footer class="footer-main" id="bot-sec">
  <div class="ftr-top">
    <div class="container ftr-top-inner">
      <div class="ftr-logo">
        <a href="/"><img src="/images/footer-logo.png" alt="Soft & Sweet Sugaring logo"></a>
      </div>
      <div class="ftr-rt">
        <h3>Bring your body into focus to relax! Get started now!</h3>
        <div class="ftr-info">
          <p>Soft and Sweet is your destination for unparalleled beauty and relaxation. Discover the difference that exceptional care and attention to detail can make.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ftr-btm">
    <div class="container ftr-btm-inner">
      <div class="copyrht-lt">
        <p>Copyright &copy;<span id="year"></span> Soft &amp; Sweet Sugaring Studio. All Rights Reserved.</p>
      </div>
      <div class="privacy-menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/services/">Menu</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/faqs/">FAQs</a></li>
          <li><a href="/terms/">Terms &amp; Conditions</a></li>
          <li><a href="/privacy/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="devshop"><p>Designed and Developed by <a href="https://devonshiredevshop.com" target="_blank" rel="noopener">Devonshire Dev Shop</a></p></div>
    </div>
  </div>
</footer>

<div class="floating-book"><a href="https://www.vagaro.com/softandsweetsugaring" class="btn">Book Now</a></div>
